:root {
    --background: #b9b7a7;
    --container: #457b9d;
    --primary: #f1faee;
    --secondary: #a8dadc;
    --call-to-action: #e63946;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: 'Assistant', sans-serif;
}
