:root {
    --background: #b9b7a7;
    --container: #457b9d;
    --primary: #f1faee;
    --secondary: #a8dadc;
    --call-to-action: #e63946;
    --scroll-background: #747274;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: 'Assistant', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--scroll-background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border: 3px solid var(--scroll-background);
    border-radius: 10px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar {
    height: 12px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar-track {
    background: var(--scroll-background);
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border: 3px solid var(--scroll-background);
    border-radius: 10px;
}
